body {
  background-color: #282828;
  color: #eee;
  font-family: "Roboto","Arial",sans-serif;
}

main {
  border: #4b4949 1px solid;
  padding: 30px;
  background-color: #282828;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.span {
  color: #afafaf;
  font-weight: normal;
}

.age-and-gender {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 7px;
}

.filters {
  margin-bottom: 20px;
}

#chart {
  margin-top: 50px;
}

.bar-container {
  margin-bottom: 40px;
  position: relative;
}

hr {
  margin: 50px 0;
  border-color: #282828;
}

.bar {
  position: relative;
  background-color: #BC6AF3;
  padding: 6px;
  right: 65px;
  overflow: hidden;
  border-radius: 40px;
  margin-left: auto;
}

.see-more {
  background: none;
  display: block;
  margin-top: 50px;
  color: #529BE7;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0;
}

.gender-label {
  position: absolute;
  font-weight: 600;
}

.percentage-label {
  position: absolute;
  right: 5px;
  font-size: 15px;
  top: -2px;
  font-weight: 600;
}